[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
[core]
	editor = vim -c \"set fenc=utf-8\"
[user]
	name = mk0127
	email = kensanjing@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
